* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
  background-color: #f5f5f5;
}

.content {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
  background-color: #01131b;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.object-list {
  color: white;
  list-style: none;
}
.object-item {
  color: white;
  border-bottom: 1px dotted white;
  color: white;
  margin: 20px 0px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.object-item:hover {
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
}

.object-item h3,
p {
  color: white;
  text-decoration: underline white;
}

.object-item p {
  font-size: 14px;
}

.object-details {
  /* border: 1px solid white; */
  color: white;
}

.object-details-header {
  background-color: #1686b0;
  padding: 10px;
  height: 80px;
}

.object-details-header p {
  font-size: 14px;
  text-decoration: none;
}

.object-details-body {
  padding: 8px;
  text-decoration: none;
}

.object-details-body p {
  text-decoration: none;
  margin: 8px 0px;
}

.criteria-list-container {
  /* border: 1px red solid; */
  color: white;
}
